.header-sec{
    max-width: 75vw;
    height: 70px;
    margin: 40px auto;
    position: relative;
    left: 100px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: white;
    opacity: 0;
    transform: scale(0);
    animation: zoom-in 1s ease forwards;
    animation-delay: 0.5s;
}
.header-sec div:nth-child(1){
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
}
.header-sec div:nth-child(1) span{
    font-size: 17px;
}
.header-sec div:nth-child(2){
    position: relative;
}
.header-sec div:nth-child(2) input{
    min-width: 600px;
    padding: 10px 13px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    text-indent: 12px;
}
.header-sec div:nth-child(2) input::placeholder{
    color: white;
}
.header-sec div:nth-child(2) ion-icon{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-5%, -50%);
    cursor: pointer;
    font-size: 20px;
}
.header-sec div:nth-child(3){
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.header-sec div:nth-child(3) ion-icon{
    cursor: pointer;
    transition: 0.5s;
}
.header-sec div:nth-child(3) ion-icon:hover{
    color: #409ac7;
}