.nav-sec {
    position: absolute;
    top: 50%;
    left: 3%;
    height: 90vh;
    min-width: 200px;
    transform: translate(-3%, -50%);
    background: rgba(255, 255, 255, 0.2);
    /* -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    transform: translateY(-70%);
    animation: slide-down 1s ease forwards;
    animation-delay: 0.2s;
}
.nav-sec nav {
    height: 100%;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-sec nav img {
    align-self: center;
    margin: 0 auto;
}

.nav-sec nav ul {
    position: relative;
}

.nav-sec nav ul li {
    display: flex;
    align-items: center;
    gap: 13px;
    color: white;
    font-size: 24px;
    line-height: 52px;
    cursor: pointer;
}

.nav-sec nav ul li:hover {
    color: #409ac7;
}

.nav-sec nav ul li span {
    font-size: 18px;
}