.dashboard-sec {
    max-width: 75vw;
    position: relative;
    left: 100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 24px;
}

.dashboard-sec .home {
    width: 70%;
    opacity: 0;
    transform: translateY(200px);
    animation: slide-up 1s ease forwards;
}

.feed-1 {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px 15px;
}

.feeds {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    color: white;
}

.feeds img {
    width: 120px;
}

.feeds>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.feeds>div span {
    display: block;
}

.feeds>div>div:first-child span:nth-child(1) {
    font-size: 20px;
    font-weight: 700;
}

.feeds>div>div:first-child span:nth-child(2) {
    font-size: 16px;
}

.feeds>div>div:last-child span {
    font-size: 45px;
    display: flex;
}

.feeds>div>div:last-child span sup {
    position: relative;
    font-size: 24px;
}

.feed {
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.feed>div {
    width: 200px;
    height: 100%;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 11px;
    border-radius: 12px;
}

.feed>div div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed>div div:first-child span {
    font-size: 42px;
    font-weight: 500;
    display: flex;
}

.feed>div div:first-child span sup {
    font-size: 24px;
}

.feed>div div:last-child span {
    display: block;
}

.feed>div div:last-child span:first-child {
    font-weight: 700;
}

.feed>div div:last-child span:last-child {
    color: rgba(0, 0, 0, 0.5);
}

.highlights {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 40px 30px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 12px;
    padding: 20px 15px;
}

.highlights h2 {
    font-weight: 600;
}

.all-highlights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 20px;
    color: #000;
}

.all-highlights>div {
    min-width: 240px;
    background-color: #fff;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-highlights>div>div:first-child {
    display: flex;
    align-items: center;
    gap: 12px;
}

.all-highlights>div>div:first-child img {
    width: 50px;
}

.all-highlights>div>div:first-child span {
    display: block;
}

.all-highlights>div>div:first-child span:first-child {
    font-weight: 600;
    font-size: 18px;
}

.all-highlights>div>div:first-child span:last-child {
    line-height: normal;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.all-highlights>div>div:last-child span {
    display: flex;
    gap: 2px;
    font-size: 27px;
}

.all-highlights>div>div:last-child span sup {
    font-size: 18px;
}

.cities {
    width: 30%;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px 15px;
    color: #fff;
    opacity: 0;
    transform: translateY(200px);
    animation: slide-right 1s ease forwards;
    animation-delay: 0.2s;
}

.all-cities {
    margin-top: 20px;
}

.all-cities>div {
    background-color: #fff;
    color: #000;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.all-cities>div>div:first-child {
    display: flex;
    align-items: center;
    gap: 12px;
}

.all-cities>div>div:first-child img {
    width: 50px;
}

.all-cities>div>div:first-child span {
    display: block;
}

.all-cities>div>div:first-child span:first-child {
    font-weight: 600;
}

.all-cities>div>div:first-child span:last-child {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.all-cities>div>div:last-child span {
    display: flex;
    gap: 1.6px;
    font-size: 28px;
}

.all-cities>div>div:last-child span sup {
    font-size: 18px;
}

.all-cities>div:last-child {
    margin-bottom: 0;
}

.all-cities>button {
    width: 100%;
    padding: 15px 0px;
    border: none;
    border-radius: 12px;
    background-color: #409ac7;
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    transition: 0.5s;
    cursor: pointer;
}

.all-cities>button:hover {
    background-color: transparent;
    border: 1px solid white;
}

.all-cities>button ion-icon {
    font-size: 19px;
}